/* App.css */
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.topPanel {
  background-color: #f4f4f4;
  padding: 20px;
  text-align: center;
  flex-shrink: 0; /* Prevents the top panel from shrinking */
}

.mainLayout {
  display: flex;
  flex-grow: 1; /* Allows the main layout to take the remaining space */
  gap: 10px;
}

.leftPanel {
  background-color: #e0e0e0;
  padding: 20px;
  flex: 1; /* Takes equal space as the right panel */
}

.mainPanel {
  background-color: #ffffff;
  padding: 20px;
  flex: 3; /* Takes more space than the left and right panels */
}

.rightPanel {
  background-color: #e0e0e0;
  padding: 20px;
  flex: 1; /* Takes equal space as the left panel */
}
